# Ignore Markdown files used for notes
*.md
!README.md

# PDF output
pdfs/

# Dependencies
node_modules/

# Paged.js local copy
Bound/paged.polyfill.js
*.png
package-lock.json
package.json
pdf.js
print.css
compile.js